# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib64/

# pyenv
.python-version

# vscode
.vscode/
.pytest_cache

.log
**/*.log

node_modules/

node_modules/
npm-debug.log
*.log
yarn-error.log
.pnp/
.pnp.js
.eslintcache
.eslint_cache/
dist/
coverage/
.vscode/
.idea/
*.swp
*.coverage
coverage.xml
coverage.html
htmlcov

/volume_data
*/volume_data